@import "fonts.css";
@import "normalize.css";

:root {
    color-scheme: dark;
    --primary-color: #efefef;
    --secondary-color: #121212;
}

html {
    font-family: "Montserrat";
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.movies__title {
    font-size: 2em;
    font-weight: 900;
}