@import "fonts.css";
@import "normalize.css";

:root {
    color-scheme: dark;
    --primary-color: #efefef;
    --secondary-color: #121212;
}

html {
    font-family: "Montserrat";
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.header {
    max-width: 100dvw;
    margin: auto;
    padding: 20px 0;
    position: relative;
    z-index: 10;
    background-color: var(--secondary-color);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    padding: 0 10px;
}

.header__logo {
    font-size: 1.3em;
    font-weight: 700;
}

.header__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}

.toggle-menu {
    display: none;
}

.toggle-menu-button {
    display: flex;
    justify-content: end;
    width: 21px;
}

.toggle-menu-hamburger::before {
    content: url("../assets/icons/menu.svg");
}

.toggle-menu:checked ~ .toggle-menu-button > .toggle-menu-hamburger::before {
    content: url("../assets/icons/x-mark.svg");
}

.header__nav-list {
    background-color: var(--secondary-color);
    width: 100dvw;
    height: 100dvh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
}

.header__nav-link {
    display: block;
    padding: 20px;
    font-size: 1.2em;
    font-weight: bolder;
    text-transform: uppercase;
}

.toggle-menu:checked ~ .header__nav-list {
    opacity: 1;
    display: flex;
}

body:has(.toggle-menu:checked) {
    overflow: hidden;
}

@starting-style {
    .toggle-menu:checked ~ .header__nav-list {
        opacity: 0;
    }
}

@media (width < 500px) {
    .header__nav-list {
        transition: opacity .25s, display .25s;
        transition-behavior: allow-discrete;
    }
}

@media (width >= 650px) {
    .header__nav {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .toggle-menu-hamburger {
        display: none;
    }

    .header__nav-list {
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: flex; 
        flex-direction: row;
        position: static;
        gap: 20px;
        z-index: 1;
        opacity: 1;
    }

    .header__nav-link {
        display: inline-block;
        padding: 5px;
        font-size: .8em;
        font-weight: 600;
        transition: filter .1s;
    }

    .header__nav-link:hover {
        filter: drop-shadow(0 0 1px var(--primary-color));
    }

    .header__nav-user {
        transition: filter .1s;
    }

    .header__nav-user:hover {
        filter: drop-shadow(0 0 1px var(--primary-color));
    }

    body:has(.toggle-menu:checked) {
        overflow: auto;
    }
}

.main-content {
    width: 100%;
    padding: 0 10px;
    max-width: 1024px;
    margin: auto;
}

.main__slider-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    overflow: scroll;
    gap: 4px;
    scroll-snap-type: x mandatory;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--secondary-color);
    scrollbar-arrow-color: var(--secondary-color);
}

.main__slider-picture {
    flex: 0 0 100%;
    left: 0;
    scroll-snap-align: center;
}

.main__slider-img {
    width: 100%;
    object-fit: cover;
}

.movies__title {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
}